In [116]:
import pandas as pd
import requests
from io import StringIO

# ID do arquivo extraído do link que você mandou
bd_23 = '1TYAiWQGCJBKBrJMZ59e4nEfQT8NsDWLE'
bd_24 = '1sRkXiJofS88UJk6E-r2j9DWwevkjH2g_'

# URL direta para download
url_23 = f'https://drive.google.com/uc?export=download&id={bd_23}'
url_24 = f'https://drive.google.com/uc?export=download&id={bd_24}'

# Fazendo o download do conteúdo
response = requests.get(url_23)
data_23 = StringIO(response.text)

response = requests.get(url_24)
data_24 = StringIO(response.text)

# Lendo com pandas
exp_23 = pd.read_csv(data_23, encoding='utf-8', sep=';')
exp_24 = pd.read_csv(data_24, encoding='utf-8', sep=';')

Tb_exportacao = pd.concat([exp_23, exp_24], ignore_index=False)

# print(df_23.head())
# print(df_24.head())

display(Tb_exportacao)

# Tb_exportacao.info()

         CO_ANO  CO_MES   SH4  CO_PAIS SG_UF_MUN   CO_MUN  KG_LIQUIDO  VL_FOB
0          2023      10  2209      127        BA  2919553          36      53
1          2023      11  4009      493        SP  3456701         473   14008
2          2023      11  8536      365        SP  3438709           2     181
3          2023       8  8512       63        RJ  3304201       15627  239105
4          2023       6  1902      580        PR  4118204         287     368
...         ...     ...   ...      ...       ...      ...         ...     ...
1144823    2024       8  6206       63        SP  3405500           3      79
1144824    2024       6  3104      494        PR  4115200         197    1200
1144825    2024       3  8205      275        MG  3132404           3    5454
1144826    2024       2  8504      589        SP  3448906           0    2390
1144827    2024      11   406      776        SP  3448500           4      72

[2266180 rows x 8 columns]

In [113]:
# Connect NCM_SH

SH4 = '1iiH5llr9Ke-Jp_Idg7tuLbh_tegFaZ4s'

# URL direta para download
url_SH4 = f'https://drive.google.com/uc?export=download&id={SH4}'

# Fazendo o download do conteúdo
response = requests.get(url_SH4)
Data_SH4 = StringIO(response.text)

# Lendo com pandas
ncm = pd.read_csv(Data_SH4, encoding='utf-8', sep=';')
dataSH4 = ncm.drop_duplicates('CO_SH4', ignore_index=True)

ncm = dataSH4.drop(['CO_SH6', 'NO_SH6_POR', 'NO_SH6_ESP', 'NO_SH6_ING', 'NO_SH4_ESP', 'NO_SH4_ING', 'CO_SH2', 'NO_SH2_POR', 'NO_SH2_ESP', 'NO_SH2_ING', 'CO_NCM_SECROM','NO_SEC_POR', 'NO_SEC_ESP', 'NO_SEC_ING'], axis=1)

display(ncm.head())

# display(dataSH4)

   CO_SH4                                         NO_SH4_POR
0     101                  Cavalos, asininos e muares, vivos
1     102                    Animais vivos da espécie bovina
2     103                     Animais vivos da espécie suína
3     104         Animais vivos das espécies ovina e caprina
4     105  Galos, galinhas, patos, gansos, perus, peruas ...

In [97]:
# ncm = ncm.rename(columns={'CO_SH4': 'SH4'})

# display(ncm)

In [ ]:
# print(ncm.columns.tolist())

['CO_SH4', 'NO_SH4_POR']

In [ ]:
# ncm.columns = ncm.columns.str.strip()
# ncm.columns = ncm.columns.str.upper()

# print(ncm.columns.tolist())

['CO_SH4', 'NO_SH4_POR']

In [ ]:
Tb_exportacao = Tb_exportacao.merge(ncm[['CO_SH4', 'NO_SH4_POR']], left_on='SH4', right_on='CO_SH4', how='left')

display(Tb_exportacao)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,CO_SH4,NO_SH4_POR
0,2023,10,2209,127,BA,2919553,36,53,2209,Vinagres e seus sucedâneos obtidos a partir do...
1,2023,11,4009,493,SP,3456701,473,14008,4009,"Tubos de borracha vulcanizada năo endurecida, ..."
2,2023,11,8536,365,SP,3438709,2,181,8536,"Aparelhos para interrupçăo, seccionamento, pro..."
3,2023,8,8512,63,RJ,3304201,15627,239105,8512,Aparelhos elétricos de iluminaçăo ou de sinali...
4,2023,6,1902,580,PR,4118204,287,368,1902,"Massas alimentícias, mesmo cozidas ou recheada..."
...,...,...,...,...,...,...,...,...,...,...
2266175,2024,8,6206,63,SP,3405500,3,79,6206,"Camiseiros, blusas, blusas-camiseiros, de uso ..."
2266176,2024,6,3104,494,PR,4115200,197,1200,3104,"Adubos (fertilizantes) minerais ou químicos, p..."
2266177,2024,3,8205,275,MG,3132404,3,5454,8205,Ferramentas manuais (incluídos os corta-vidros...
2266178,2024,2,8504,589,SP,3448906,0,2390,8504,"Transformadores elétricos, conversores elétric..."
2266179,2024,11,406,776,SP,3448500,4,72,406,Queijos e requeijăo

In [ ]:
Tb_exportacao = Tb_exportacao.drop(columns=['CO_SH4'])

display(Tb_exportacao)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,NO_SH4_POR
0,2023,10,2209,127,BA,2919553,36,53,Vinagres e seus sucedâneos obtidos a partir do...
1,2023,11,4009,493,SP,3456701,473,14008,"Tubos de borracha vulcanizada năo endurecida, ..."
2,2023,11,8536,365,SP,3438709,2,181,"Aparelhos para interrupçăo, seccionamento, pro..."
3,2023,8,8512,63,RJ,3304201,15627,239105,Aparelhos elétricos de iluminaçăo ou de sinali...
4,2023,6,1902,580,PR,4118204,287,368,"Massas alimentícias, mesmo cozidas ou recheada..."
...,...,...,...,...,...,...,...,...,...
2266175,2024,8,6206,63,SP,3405500,3,79,"Camiseiros, blusas, blusas-camiseiros, de uso ..."
2266176,2024,6,3104,494,PR,4115200,197,1200,"Adubos (fertilizantes) minerais ou químicos, p..."
2266177,2024,3,8205,275,MG,3132404,3,5454,Ferramentas manuais (incluídos os corta-vidros...
2266178,2024,2,8504,589,SP,3448906,0,2390,"Transformadores elétricos, conversores elétric..."
2266179,2024,11,406,776,SP,3448500,4,72,Queijos e requeijăo

In [126]:
# CONNECT PAIS

PAIS = '1p3m0Ruh9wrrY7gPtBFgWesJ58jeDnit9'

# URL direta para download
url_PAIS = f'https://drive.google.com/uc?export=download&id={PAIS}'

# Fazendo o download do conteúdo
response = requests.get(url_PAIS)
Data_PAIS = StringIO(response.text)

# Lendo com pandas
pais = pd.read_csv(Data_PAIS, encoding='utf-8', sep=';')

pais = pais.drop(['CO_PAIS_ISON3', 'CO_PAIS_ISOA3', 'NO_PAIS_ING', 'NO_PAIS_ESP'], axis=1)

display(pais.head())

   CO_PAIS                 NO_PAIS
0        0            N„o Definido
1       13             Afeganist„o
2       15            Aland, Ilhas
3       17                 Alb‚nia
4       20  Alboran-Perejil, Ilhas

In [128]:
Tb_exportacao = Tb_exportacao.merge(pais[['CO_PAIS', 'NO_PAIS']], on='CO_PAIS', how='left')

display(Tb_exportacao)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,NO_SH4_POR,NO_PAIS
0,2023,10,2209,127,BA,2919553,36,53,Vinagres e seus sucedâneos obtidos a partir do...,Cabo Verde
1,2023,11,4009,493,SP,3456701,473,14008,"Tubos de borracha vulcanizada năo endurecida, ...",MÈxico
2,2023,11,8536,365,SP,3438709,2,181,"Aparelhos para interrupçăo, seccionamento, pro...",IndonÈsia
3,2023,8,8512,63,RJ,3304201,15627,239105,Aparelhos elétricos de iluminaçăo ou de sinali...,Argentina
4,2023,6,1902,580,PR,4118204,287,368,"Massas alimentícias, mesmo cozidas ou recheada...",Panam·
...,...,...,...,...,...,...,...,...,...,...
2266175,2024,8,6206,63,SP,3405500,3,79,"Camiseiros, blusas, blusas-camiseiros, de uso ...",Argentina
2266176,2024,6,3104,494,PR,4115200,197,1200,"Adubos (fertilizantes) minerais ou químicos, p...",Mold·via
2266177,2024,3,8205,275,MG,3132404,3,5454,Ferramentas manuais (incluídos os corta-vidros...,FranÁa
2266178,2024,2,8504,589,SP,3448906,0,2390,"Transformadores elétricos, conversores elétric...",Peru
2266179,2024,11,406,776,SP,3448500,4,72,Queijos e requeijăo,Tail‚ndia

In [132]:
# CONNECT MUNICIPIO

MUNICIPIO = '1MToNUrBmVft-B_WaSi9Vz_6LG1QDP_Zk'

# URL direta para download
url_MUN = f'https://drive.google.com/uc?export=download&id={MUNICIPIO}'

# Fazendo o download do conteúdo
response = requests.get(url_MUN)
Data_MUN = StringIO(response.text)

# Lendo com pandas
mun = pd.read_csv(Data_MUN, encoding='utf-8', sep=';')

mun = mun.drop('NO_MUN_MIN', axis=1)

display(mun.head())

   CO_MUN_GEO                  NO_MUN SG_UF
0     2502003  BELEM DO BREJO DO CRUZ    PB
1     2502052      BERNARDINO BATISTA    PB
2     2502102             BOA VENTURA    PB
3     2502151               BOA VISTA    PB
4     2502201               BOM JESUS    PB

In [133]:
Tb_exportacao = Tb_exportacao.merge(mun[['CO_MUN_GEO', 'NO_MUN']], left_on='CO_MUN', right_on='CO_MUN_GEO', how='left')

display(Tb_exportacao)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,NO_SH4_POR,NO_PAIS,CO_MUN_GEO,NO_MUN
0,2023,10,2209,127,BA,2919553,36,53,Vinagres e seus sucedâneos obtidos a partir do...,Cabo Verde,2919553,LUIS EDUARDO MAGALHAES
1,2023,11,4009,493,SP,3456701,473,14008,"Tubos de borracha vulcanizada năo endurecida, ...",MÈxico,3456701,VINHEDO
2,2023,11,8536,365,SP,3438709,2,181,"Aparelhos para interrupçăo, seccionamento, pro...",IndonÈsia,3438709,PIRACICABA
3,2023,8,8512,63,RJ,3304201,15627,239105,Aparelhos elétricos de iluminaçăo ou de sinali...,Argentina,3304201,RESENDE
4,2023,6,1902,580,PR,4118204,287,368,"Massas alimentícias, mesmo cozidas ou recheada...",Panam·,4118204,PARANAGUA
...,...,...,...,...,...,...,...,...,...,...,...,...
2266175,2024,8,6206,63,SP,3405500,3,79,"Camiseiros, blusas, blusas-camiseiros, de uso ...",Argentina,3405500,BARRETOS
2266176,2024,6,3104,494,PR,4115200,197,1200,"Adubos (fertilizantes) minerais ou químicos, p...",Mold·via,4115200,MARINGA
2266177,2024,3,8205,275,MG,3132404,3,5454,Ferramentas manuais (incluídos os corta-vidros...,FranÁa,3132404,ITAJUBA
2266178,2024,2,8504,589,SP,3448906,0,2390,"Transformadores elétricos, conversores elétric...",Peru,3448906,SAO CARLOS
2266179,2024,11,406,776,SP,3448500,4,72,Queijos e requeijăo,Tail‚ndia,3448500,SANTOS

In [134]:
Tb_exportacao = Tb_exportacao.drop(columns=['CO_MUN_GEO'])

display(Tb_exportacao)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,NO_SH4_POR,NO_PAIS,NO_MUN
0,2023,10,2209,127,BA,2919553,36,53,Vinagres e seus sucedâneos obtidos a partir do...,Cabo Verde,LUIS EDUARDO MAGALHAES
1,2023,11,4009,493,SP,3456701,473,14008,"Tubos de borracha vulcanizada năo endurecida, ...",MÈxico,VINHEDO
2,2023,11,8536,365,SP,3438709,2,181,"Aparelhos para interrupçăo, seccionamento, pro...",IndonÈsia,PIRACICABA
3,2023,8,8512,63,RJ,3304201,15627,239105,Aparelhos elétricos de iluminaçăo ou de sinali...,Argentina,RESENDE
4,2023,6,1902,580,PR,4118204,287,368,"Massas alimentícias, mesmo cozidas ou recheada...",Panam·,PARANAGUA
...,...,...,...,...,...,...,...,...,...,...,...
2266175,2024,8,6206,63,SP,3405500,3,79,"Camiseiros, blusas, blusas-camiseiros, de uso ...",Argentina,BARRETOS
2266176,2024,6,3104,494,PR,4115200,197,1200,"Adubos (fertilizantes) minerais ou químicos, p...",Mold·via,MARINGA
2266177,2024,3,8205,275,MG,3132404,3,5454,Ferramentas manuais (incluídos os corta-vidros...,FranÁa,ITAJUBA
2266178,2024,2,8504,589,SP,3448906,0,2390,"Transformadores elétricos, conversores elétric...",Peru,SAO CARLOS
2266179,2024,11,406,776,SP,3448500,4,72,Queijos e requeijăo,Tail‚ndia,SANTOS

In [176]:
Tb_exportacao.loc[:, 'MD'] = Tb_exportacao['VL_FOB']/Tb_exportacao['KG_LIQUIDO']

display(Tb_exportacao.head())

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,NO_SH4_POR,NO_PAIS,NO_MUN,MD
0,2023,10,2209,127,BA,2919553,36,53,Vinagres e seus sucedâneos obtidos a partir do...,Cabo Verde,LUIS EDUARDO MAGALHAES,1.472222
1,2023,11,4009,493,SP,3456701,473,14008,"Tubos de borracha vulcanizada năo endurecida, ...",MÈxico,VINHEDO,29.615222
2,2023,11,8536,365,SP,3438709,2,181,"Aparelhos para interrupçăo, seccionamento, pro...",IndonÈsia,PIRACICABA,90.500000
3,2023,8,8512,63,RJ,3304201,15627,239105,Aparelhos elétricos de iluminaçăo ou de sinali...,Argentina,RESENDE,15.300762
4,2023,6,1902,580,PR,4118204,287,368,"Massas alimentícias, mesmo cozidas ou recheada...",Panam·,PARANAGUA,1.282230

In [189]:
Tb_exportacao = Tb_exportacao.dropna(subset=['MD'], ignore_index=False)
Tb_exportacao = Tb_exportacao[Tb_exportacao['MD']!= float('inf')]

In [200]:
Filtro_SP = Tb_exportacao[Tb_exportacao['SG_UF_MUN'] == 'SP']

Filtro_SP = Filtro_SP.reset_index(drop=True)

display(Filtro_SP.head())

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,NO_SH4_POR,NO_PAIS,NO_MUN,MD
0,2023,11,4009,493,SP,3456701,473,14008,"Tubos de borracha vulcanizada năo endurecida, ...",MÈxico,VINHEDO,29.615222
1,2023,11,8536,365,SP,3438709,2,181,"Aparelhos para interrupçăo, seccionamento, pro...",IndonÈsia,PIRACICABA,90.500000
2,2023,6,8421,63,SP,3450308,6002,131714,"Centrifugadores, incluídos os secadores centrí...",Argentina,SAO PAULO,21.945018
3,2023,4,9403,586,SP,3447304,70,264,Outros móveis e suas partes,Paraguai,SANTANA DE PARNAIBA,3.771429
4,2023,6,8419,158,SP,3409502,44,4456,"Aparelhos e dispositivos, mesmo aquecidos elec...",Chile,CAMPINAS,101.272727

In [203]:
Destino = 'G:\Meu Drive\Projeto\CSV'
Filtro_SP.to_csv(Destino + 'bd_powerbiSP.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\mos28\AppData\Local\Temp\ipykernel_26892\3115768396.py:1: SyntaxWarning: invalid escape sequence '\M'
  Destino = 'G:\Meu Drive\Projeto\CSV'